<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- resultMap最终还是要将结果映射到pojo上，type就是指定映射到哪一个pojo -->
<!--游戏开发商Mapper-->
<mapper namespace="com.springboot.dao.PublisherMapper">
    <!--游戏开发商查询-->
    <select id="selectPublisherValue" resultType="com.springboot.entity.UserInterestPublisher">
        SELECT id,
               Publisher,
               PublisherValue
        FROM `User_Interest_Publisher` ORDER BY `PublisherValue` DESC LIMIT 10
    </select>
</mapper>
